body{
    font-family: Calibri,Tahoma, Arial, Helvetica, Courier;
}

h4.psleft, h4.psright, h4.pscenter {
    line-height: 25px;
    font-family: Calibri,Tahoma, Arial, Helvetica, Courier;
    font-size: 16px;
    font-weight: normal;
}

h1.psleft, h2.psleft, h3.psleft, h4.psleft {
    text-align: left;
}

h1.psright, h2.psright, h3.psright, h4.psright {
    text-align: right;
}

h1.pscenter, h2.pscenter, h3.pscenter, h4.pscenter {
    text-align: center;
}

th.psgreen, th.psred, th.psnormal {
    border: 1px solid black;
    text-align: center;
}

th.psgreen, td.psgreen {
    background-color: #93FF93;
    color: #000000;
}

th.psred, td.psred {
    background-color: #D70000;
    color: #FFFFFF;
}

th.psnormal {
    background-color: #E5E5E5;
    color: black;
}

td.psleft {
    border: 1px solid black;
    text-align: left;
}

td.psright {
    border: 1px solid black;
    text-align: right;
}

td.pscenter {
    border: 1px solid black;
    text-align: center;
}